
img{
    text-align: center;
    width: 300px;
}
#carousel{
    
}
.container-fluid{
    background-color: darkseagreen;
    
}
h4{
    text-align: center;
    
}
h5{
    text-align: center;
}
